<!DOCTYPE html>
<html>
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <title>ChatWithoutGpt</title>
        <link rel="stylesheet" href="{% static 'ui/style.css' %}">
    </head>

    <body>

        <div class="chat-window">
            <div class="chat-header">
                <h1>ChatWithoutGpt</h1>
                <button id="admin-button">Admin Console</button>
            </div>
            
            <div class="chat-messages">
                <div class="message">
                    <p class="bot-message">Hi, how can I help you today?</p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Type your message here...">
                <button>Send</button>
            </div>
        </div>
        {% csrf_token %}
        <script>
            document.cookie = 'csrftoken=' + document.getElementsByName('csrfmiddlewaretoken')[0].value + ';path=/';
        </script>
        <script src="{% static 'ui/script.js' %}"></script>
    </body>
</html>
