<!DOCTYPE html>
<html>
    {% load static %}
    <div class="cookie-message" id="cookie-notification" style="display:none;">
        <p id="cookie-text">This site uses cookies to provide you with a better experience. By continuing to browse the site, you are agreeing to our use of cookies.</p>
        <button id="cookie-button" class="cookie-button">Got it!</button>
    </div>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ChatWithoutGPT</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'ui/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'ui/favicon.ico' %}">
    </head>
    <body>
        <div class="container">
            <button onclick="toggleSidebar()" id="toggle-sidebar-btn"><i class="fa fa-bars"></i></button>
            <div class="sidebar">
                <div class="logo">
                    <h3 id="header">ChatWithoutGPT</h3>
                    <div id="icon">
                        <img src="{% static 'ui/logo.png' %}" alt="ChatWithoutGPT" width="30" height="30">
                    </div>
                </div>
                <button id="clear-btn">Clear</button>
                <button onclick="goToAdmin()" id="admin-btn">Admin</button>
            </div>
            <div class="chat-container">
                <div class="chat-header"></div>
                <div class="chat-box">
                    <div class="bot-message">
                        <p>Hello! How can I help you today?</p>
                    </div>
                </div>
                <div class="chat-input">
                    <form>
                        <input type="text" id="text" name="text" placeholder="Type your message here">
                        <button type="submit" id="submit-btn"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'ui/script.js' %}"></script>
</html>
